.map {
  width: 65%;
  height: 250px;
  float: right;
  bottom: 390px;
  position: absolute;
  right: 30px;
}

.mark:hover {
  color: red;
}

.mark:hover .mark_info {
  display: block;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: rgb(46, 45, 45);
}
.mark_info {
  display: none;
  width: 120px;
  height: 90px;
  background-color: rgb(255, 255, 255);
}
p {
  color: rgb(0, 0, 0);
}
